@font-face {
  font-family: "Circular Black";
  src: url("../fonts/circular/CircularStd-Black.otf") format("opentype");
  src: url("../fonts/circular/CircularStd-Black.eot");
  src: url("../fonts/circular/CircularStd-Black.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/circular/CircularStd-Black.woff2") format("woff2"),
    url("../fonts/circular/CircularStd-Black.woff") format("woff");
}
@font-face {
  font-family: "Circular Book";
  src: url("../fonts/circular/CircularStd-Book.otf") format("opentype");
  src: url("../fonts/circular/CircularStd-Book.eot");
  src: url("../fonts/circular/CircularStd-Book.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/circular/CircularStd-Book.woff2") format("woff2"),
    url("../fonts/circular/CircularStd-Book.woff") format("woff");
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 1.3;
  background-color: #212121;
}
.main-content {
  max-width: 60em;
  margin: 0 auto;
}
.main-title {
  margin: 100px 0 0 30px;
  font-family: "Circular Black";
  font-weight: 700;
  font-size: 70px;
  color: #f8ec32;
}
.time {
  font-size: 18px;
  font-weight: bold;
  float: right;
  padding: 10px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.input-container {
  margin: 1% 0 5% 0;
  padding: 0;
  border-radius: 100px 0 0 100px;
  height: 200px;
  float: right;
  clear: right;
  width: 80%;
  background-color: red;
  background-image: linear-gradient(141deg, #ff7f35 0%, #fb1f67 75%);
  position: relative;
}
@media only screen and (max-width: 600px) {
  .input-container {
    width: 100%;
    height: 100px;
  }
  .main-title {
    font-size: 30px;
  }
}
.input-button-wrapper {
  width: 100%;
  height: auto;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}
.searchInput {
  display: inline-block;
  vertical-align: middle;
  background: transparent;
  margin-left: 10%;
  width: 70%;
  overflow-x: scroll;
  font-size: 3em;
  color: #fff;
  border: none;
}
@media only screen and (max-width: 600px) {
  .searchInput {
    font-size: 2em;
  }
}
.searchForm button {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 10%;
  background-color: transparent;
  border: none;
}
.searchForm button:hover {
  cursor: pointer;
  opacity: 0.8;
}
.searchForm button img {
  max-width: 100px;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  width: 100%;
}
h2 {
  margin-top: 0;
  margin-bottom: 0.4em;
}
.gallery {
  min-width: 100%;
  min-height: 100%;
}
.gallery .load {
  position: relative;
}
.gallery .overlay {
  background: rgba(1, 22, 39, 0.1);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  position: absolute;
}
.gallery .overlay img {
  width: 100px;
  display: block;
  margin: 0 auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gallery ul {
  display: flex;
  flex-wrap: wrap;
}
.gallery ul li {
  display: flex;
  padding: 0.5em;
  width: 100%;
  height: 300px;
}
@media all and (min-width: 40em) {
  .gallery ul li {
    width: 50%;
  }
}
@media all and (min-width: 60em) {
  .gallery ul li {
    width: 33.33%;
  }
}
.gallery ul li .bg-photos {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: pixelated;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.gallery .alert-no-results {
  font-size: 26px;
  text-align: center;
  width: 100%;
}
.explainer-container {
  position: relative;
  width: 50%;
  margin-top: 50px;
  padding: 0 30px;
}
.explainer {
  margin: 0;
  font-family: "Caveat", cursive;
  font-size: 24px;
  font-weight: lighter;
}
.arrow {
  width: 100px;
  display: block;
  margin: 0 auto;
  -moz-transform: scale(-1);
  -o-transform: scale(-1);
  -webkit-transform: scale(-1);
  transform: scale(-1);
}
